.card__container {
  height: 796px;
}

.container-shadow {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.36);
}

.btn-again {
  background: none;
  border: none;
  width: 248px;
  height: 48px;
  margin-top: 48px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.btn-again:hover {
  -webkit-box-shadow: 0rem 0rem 0.6rem 0.2rem rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0rem 0rem 0.6rem 0.2rem rgba(0, 0, 0, 0.26);
  box-shadow: 0rem 0rem 0.6rem 0.2rem rgba(0, 0, 0, 0.26);
}

.btn-again:active {
  -webkit-box-shadow: 0rem 0rem 1.2rem 0.2rem rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0rem 0rem 1.2rem 0.2rem rgba(0, 0, 0, 0.26);
  box-shadow: 0rem 0rem 1.2rem 0.2rem rgba(0, 0, 0, 0.26);
  border: none;
}

.btn-again:focus {
  border: none;
  outline: none;
}

.error__message {
  width: 100%;
  text-align: center;
  margin-top: 96px;
}

@media (max-width: 415px) {
  .card__container {
    height: 100vh;
  }
  .container-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
